#git-logo {
    background-color: white;
    border-radius: 5px;
}
.reveal .slide-logo {
    background: none;
    border: 0 none;
    box-shadow: none;
}
.side-by-side-content {
    display: flex;
    align-items: baseline;
}
.code,
.reveal code {
    background-color: white;
    color: #000;
    display: block;
    font-size: 1.8rem;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: left;
}
.reveal code.inline {
    display: inline-block;
    margin: 0 10px;
}
.reveal .credit {
    font-size: 0.5em;
}
.unstyled,
.reveal .unstyled {
    border: 0 none;
    background: none;
}
.above,
.reveal .above {
    background: none;
    border: 0 none;
    font-size: 2em;
    position: absolute;
    text-shadow: 0 0 10px black;
    transform: translate(-50%, -50%) scale(.1);
    top: 50%;
    left: 50%;
    padding: 20px 100px;
    transition: all 0.5s ease-in-out;
}
.above.visible,
.reveal .above.visible {
    transform: translate(-50%, -50%);
}
.filigran,
.reveal .filigran {
    background-color: rgba(100, 100, 100, 0.5);
    border: 3px dashed red;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotate(-30deg);
}

.big-top-margin,
.reveal .big-top-margin {
    margin-top: 20px;
}

.footnote,
.reveal .footnote {
    color: lightgray;
    font-size: 0.8em;
    font-style: italic;
}
.footnote-ref,
.reveal .footnote-ref {
    color: gold;
}